<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="app" ng-controller="mycnt">
   <div>
    <input type="text" ng-model="fileName">
    <input type="text" ng-model="email">
    <input type="text" ng-model="phone">
    <input type="text" ng-model="lname">
    <input type="text" ng-model="pob">
    <input type="text" ng-model="favorit">
    <input type="text" ng-model="moreAboutYou">    
   </div>
   <button ng-click="submit()">submit</button>
   <button ng-click="clear()">clear</button>
   
   <div ng-repeat="lst in list track by $index" >
	 <p> {{lst}}</p>
       
   </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js" ></script>
    <script src="app.js" ></script>
   
</body>
</html>