<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="app" ng-controller="mycnt">
   <div>
    <input type="text" ng-model="fname">
    <input type="text" ng-model="email">
    <input type="text" ng-model="phone">
    <input type="text" ng-model="lname">
    <input type="text" ng-model="pob">
    <input type="text" ng-model="favorit">
    <input type="text" ng-model="moreAboutYou">    
   </div>
   <button>submit</button>d
   
   <div>
    <input disable type="text" ng-model="fname">
    <input disable type="text" ng-model="email">
    <input disable type="text" ng-model="phone">
    <input disable type="text" ng-model="lname">
    <input disable type="text" ng-model="pob">
    <input disable type="text" ng-model="favorit">
    <input disable type="text" ng-model="moreAboutYou">
       
   </div>
    <script src="https://code.angularjs.org/1.6.1/angular.min.js" ></script>
    <script src="app.js" ></script>
   
</body>
</html>