<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="app" ng-controller="mycnt">
<h1>{{firstValue}}</h1>
 <image src="1.png" ></image>
  
   <button ng-click="addfirstBtn()">like</button>
     <h1>{{secondValue}}</h1>
   <image src="2.png" ></image>
    <button ng-click="addsecondBtn()">like</button>
  
   
    <script src="https://code.angularjs.org/1.6.1/angular.min.js" ></script>
    <script src="app.js" ></script>
   
</body>
</html>