
    <body>
         
         <div >
             <div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h4>CARS</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="NewCars.html">New Cars</a></li>
        <li><a href="ClassicCar.html">Classic Cars</a></li>
        <li><a href="BigCar.html">Big Cars</a></li>
      </ul><br>
      <div class="input-group" >
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
	
    </div>

    <div class="col-sm-10">
		
		
      
      <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="display: inline" src="images/aboutImgs/D04-128.png" alt="">
                <h3>ali 
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center" >
                <img class="img-circle img-responsive img-center" style="display: inline" src="images/aboutImgs/females_female_avatar_woman_people_faces128.png" alt="">
                <h3>mostafa
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="display: inline" src="images/aboutImgs/females_female_avatar_woman_people_faces_128.png" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="display: inline" src="images/aboutImgs/females_female_avatar_woman_people_faces_1282.png" alt="">
                <h3>mohamad
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="display: inline" src="images/aboutImgs/h-icon128.png" alt="">
                <h3>salah
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="display: inline" src="images/aboutImgs/males_male_avatar_man_people_faces_1281.png" alt="">
                <h3>omar
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
       

    </div>
   <hr>
	 <br>
	 <br>	
	<br>
	<br>


		
    </div>
  </div>
</div>
			 



        </div>
	</body>

