table{
     border-collapse: collapse;
    border: blue 1px;
    
}

td{
    text-align: center;
}

tr:nth-child(odd){
    background-color: gray;
    
}

th, td {
    border-bottom: 1px solid #ddd;
}