<!doctype html >
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
</head>
   <body ng-app="app" ng-controller="httpctrl" >
    
    <div>
       <input type="number"  ng-model="pokID"/>
        
        <button ng-click="getPok()"> get pok</button>
        
        <h1>{{pokName}}</h1> 
        
    
    </div>
       <script src="https://code.angularjs.org/1.6.1/angular.min.js" ></script>
    <script src="app.js" ></script>
    </body>

</html>
