


::selection { background: #cedef2; color: #212121; }
::-moz-selection { background: #cedef2; color: #212121; }
::-webkit-selection { background: #cedef2; color: #212121; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }



/* page structure */
#wrapper {
  display: block;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 45px;

}

#content {
  display: block;
  background: #fff;
  margin: 0 20px;
  padding: 14px 18px;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 3px 8px 0 rgba(38,38,38,0.6);
  -moz-box-shadow: 1px 3px 8px 0 rgba(38,38,38,0.6);
  box-shadow: 1px 3px 8px 0 rgba(38,38,38,0.6);
}


/* gallery display */
.photos {
  display: block;
}

.photos ul {
  list-style: none;

}

.photos ul li { display: inline;}

.photos ul li a {
  display: block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos ul li a:hover {
  opacity: 1.0;
}

.photos ul li a img {
 width: 250px; height: 250px;
}

/* footer */
#credits {
  display: block;
  padding: 5px 6px;
  text-align: center;
}

#credits p {
  font-size: 1.2em;
  color: #666;
  text-shadow: 0 1px 0 #fff;
}

#credits p a {
  color: #798fad;
}
#credits p a:hover {
  color: #4d6b94;
}

/* CSS Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.clearfix { zoom: 1; } /* IE 6/7 */


/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


h1{
	color: #337ab7;
}
/** uncomment to remove lightbox captions 
 *
#lightbox-container-image-data-box {
  display: none !important;
} 
 *
**/

















